{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-white bg-primary text-center">
                    <img src="{% static 'images/logo.png' %}" alt="Elischama Logo" class="img-fluid" style="max-width: 150px;">
                    <h3 class="mb-0">{% trans "Registro" %}</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">{% trans "Registrarse" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
